.inputWrapper {
  margin: 50px;
  transform: skew(30deg);
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 10px;
}

.input {
  width: 300px;
  font-size: 1.4rem;
  transform: skew(-30deg);
  background-color: whitesmoke;
  border: none;
  outline: none;
}
