.inputWrapper {
  position: relative;
  margin-bottom: 20px;
  padding: 10px;
}

.inputWrapper--question {
  margin-top: 50px;
  margin-bottom: 100px;
}

.input {
  width: 300px;
  font-size: 1.4rem;
  background: none;
  color: #5f5d5d;
  border: none;
  outline: none;
}

.input::placeholder {
  color: #5f5d5d8a;
}

.skew-background {
  transform: skew(30deg);
  background-color: whitesmoke;
  position: absolute;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  left: -5px;
}
